<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>

<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo">Mi Sitio</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Bienvenido a la página de inicio</h1>
    </div>
</body>
</html>

